# ignore MS Office tmp files
~$*
*.tmp

# ignore assembly info files or other generated tmp files
*.o
*.obj
*.d
*.coff
*.flat
**/objects
# **/REFSTR0*
**/SWAP0
.vscode
**/DISK

**/nachos

nachos-3.4-ualr-lw
SDU2

**/tmp-records

*cyx/
# **/VMFile
**/VMFile